@font-face { 
    font-family: 'Cafe24Oneprettynight'; 
    src: url(/res/fonts//Cafe24Oneprettynight.ttf) format('truetype'); }

p {
    font-family: Cafe24Oneprettynight;
}

body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 2;
    /* background: #FFFFFF; */
    position:fixed;
    width: auto;
    left: 0;
    right: 0;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.container {
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    width: auto;
}

#left {
    float: inherit;
    place-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    float: left;
}

#right {
    float: inherit;
    place-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    float: right
}

.item {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
}

#item1 {
    background-image: url("/res/img/musigi-logo.png");
}

#item2 {
    background-image: url("/res/img/musigi-package.png");
}


.item > p {
    font-size: 30px;
}